[submodule "zsh/oh-my-zsh"]
	path = dotfiles/zsh/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "zsh/custom/plugins/zsh-syntax-highlighting"]
	path = dotfiles/zsh/custom/plugins/zsh-syntax-highlighting
	url = https://github.com/jimmijj/zsh-syntax-highlighting.git
[submodule "zsh/custom/plugins/zsh-autosuggestions"]
	path = dotfiles/zsh/custom/plugins/zsh-autosuggestions
	url = https://github.com/tarruda/zsh-autosuggestions.git
[submodule "dotfiles/vim/vim-plug"]
	path = dotfiles/vim/vim-plug
	url = https://github.com/junegunn/vim-plug.git
